/*body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  color: #444;
  overflow: hidden;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #3827c5;
  outline: none;
}

a:hover,
a:focus {
  color: #3827c5;
  outline: none;
}


/* Top Navigation Style */

.meta {
  font-size: 0.75em;
  line-height: 1;
  position: absolute;
  top: 1em;
  left: 40em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  white-space: nowrap;
  border-top: 1px solid #d1b790;
}

.meta::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #d1b790;
}

.meta a {
  display: block;
  padding: 1em 1.35em;
  border: 1px solid #d1b790;
  border-top: 0;
}

.meta a:not(:last-child) {
  border-right: 0;
}

.codrops-icon {
  width: 4em;
}

.codrops-icon span {
  display: none;
}

.codrops-icon::before {
  font-family: 'codropsicons';
  font-size: 1.15em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop::before {
  content: '\e001';
  color: #09c;
}

.codrops-icon--prev::before {
  content: '\e004';
}


/* Demo links */

.demo-link {
  font-family: 'Playfair Display';
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.demo-link--current {
  color: #bba077;
}

@media screen and (max-width:40em) {
  .meta {
    right: 1em;
  }
  .demo-link {
    -webkit-flex: 1;
    flex: 1;
  }
}

div#surveyElement {
    position: relative;
    top: 100px;
    width: 50%;
    float: none;
    margin: auto;
}

#townId {
	background: linear-gradient(#b98286b3, #1f1a1a);
	overflow: hidden;
	position: absolute;	
	width: 100%;	
}

#logo {
  position:fixed;
  left:-200px;
  top:-160px;
}
#chaseCamera {
  position:fixed;
  left:100px;
}
span:hover {
    text-decoration: underline;
}
.cameraDisplay {
  text-decoration: none;
  position: fixed;
  top: 40px;
}
#topCamera {
  position:fixed;
  left:50px;
}
span:hover {
    text-decoration: underline;
}
#score {
    position: fixed;
    color: #297532;
    font-size: large;
    left: 200px;
    top: 10px;
}

#bike {
  position:fixed;
  right:10px;
  top:-50px;
  width:25%;
}
	
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

   /* height: 20px; */
    /*width: 50%; */
.modal-content {
    position: relative;
    right: 390px;
    top: 60px;
    width: fit-content;
    /*height:303px;*/
}

.decisionPoint1 .modal-content {
    position: relative;
    right: 390px;
    top: 60px;
    width: fit-content;
    height: 220px;
}
.decisionPoint2 .modal-content {
    position: relative;
    right: 390px;
    top: 60px;
    width: fit-content;
    height: 220px;
}

.decisionPoint1 {
  right: -1500px !important;
  top: 425px !important;
  opacity: 0.7 !important;
  /*height: 425px;*/
}

.decisionPoint2 {
  right: -1400px !important;
  top: 235px !important;
  opacity: 0.7 !important;
  /*height: 425px;*/
}

.bootstrap-dialog .bootstrap-dialog-close-button {
	 visibility: hidden;
}

.modal.in .modal-dialog {
    opacity: 0.8;
    filter: brightness(80%);
}
.welcomeDialog {
  opacity: 1.0;
  filter: brightness(100%);
  width: 1200px;
}

.welcomeDialog img {
    width: 51%;
    position: relative;
    top: -169px;
}

}
.welcomeDialog .modal-content {
    position: relative;
    /* right: 390px; */
    top: 100px;
    width: fit-content;
}

.lookout {
    position: relative;
    top: 44px;
    left: -214px;
}
.lookout1 {
    position: relative;
    top: 44px;
    left: -184px;
}
.lookout2 {
    position: relative;
    top: 44px;
    left: -154px;
}
