
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* padding-right fix for mobile responsiveness*/
  padding-right: 0px !important;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  color: #444;
  overflow: hidden;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #3827c5;
  outline: none;
}

a:hover,
a:focus {
  color: #3827c5;
  outline: none;
}

div#surveyElement {
    position: relative;
    top: 100px;
    width: 50%;
    float: none;
    margin: auto;
}

#townId {
	background: linear-gradient(#b98286b3, #1f1a1a);
	overflow: hidden;
	position: absolute;	
	width: 100%;	
}

#logo {
  position:fixed;
  left:-200px;
  top:-160px;
}
#chaseCamera {
  position:fixed;
  left:100px;
}
span:hover {
    text-decoration: underline;
}
.cameraDisplay {
  text-decoration: none;
  position: fixed;
  top: 40px;
}
#topCamera {
  position:fixed;
  left:50px;
}
span:hover {
    text-decoration: underline;
}
#score {
    position: fixed;
    color: #297532;
    font-size: large;
    left: 200px;
    top: 10px;
}

#bike {
  position:fixed;
  right:10px;
  top:-50px;
  width:25%;
}
	
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.modal-content {
    position: relative;
    /*right: 365px;*/
    top: 60px;
    width: fit-content;
    width: -moz-max-content;
    max-height:840px;
}
.landing-modal .modal-content{
  right: 365px;
}
.decisionPoint1 .modal-content {
    position: relative;
    right: 390px;
    top: 60px;
    width: fit-content;
    height: 220px;
}
.decisionPoint2 .modal-content {
    position: relative;
    right: 390px;
    top: 60px;
    width: fit-content;
    height: 220px;
}

.decisionPoint1 {
  right: -1500px !important;
  top: 425px !important;
  opacity: 0.7 !important;
  /*height: 425px;*/
}

.decisionPoint2 {
  right: -1400px !important;
  top: 235px !important;
  opacity: 0.7 !important;
  /*height: 425px;*/
}

.bootstrap-dialog .bootstrap-dialog-close-button {
	 visibility: hidden;
}

.modal.in .modal-dialog {
    opacity: 0.8;
    filter: brightness(80%);
}
.welcomeDialog {
  opacity: 1.0;
  filter: brightness(100%);
  width: 1200px;
}

.welcomeDialog img {
    width: 51%;
    position: relative;
    top: -169px;
    left: 1em;
}

.welcomeDialog video {
    position: relative;
    right: -2em;
}

.welcomeDialog .modal-content {
    position: relative;
    /* right: 390px; */
    top: 100px;
    width: fit-content;
}


.modal-open {
  overflow-y: auto;
}
.description {
    position: relative;
    top: -123px;
}

.landing-modal .modal-body {
    max-height: 680px;
    padding-left: 8em;
}

.landing-modal .bootstrap-dialog {
    width: 95%;
    margin-left: 2.7em;
}
.landing-modal .bootstrap-dialog-header {
  padding-left: 10em;
}

.landing-modal .modal-footer {
   
    text-align: unset; 
    
    padding-left: 42em;
}


@media (max-width: 48em) {

  .landing-modal {
      width: 98%;
  }
  .landing-modal .bootstrap-dialog-header {
      padding-left: 2em;
  }
  .landing-modal .bootstrap-dialog {
    width: 97%;
    margin: auto;
  }
  .landing-modal .modal-body {
    padding-left: 0em;
  }
  .modal-content {
    right:unset;
  }
  .landing-modal .modal-content {
    right: 390px;
  }
}

@media (max-width: 48em)  {
 
    .decisionPoint1 {
       left: -31em;
    }
    
    .decsionPoint2 {
      left: -33em;
    }

    .decisionPoint2 .modal-content {
      position: relative;
      right: 585px;
      top: 224px;
      height: 220px;
    }
    .description {
       top: 14px;
    }

    .modal-open .modal {
    
        /*width: 80%;*/
        margin: auto;
    }
    .bootstrap-dialog .bootstrap-dialog-title {
       font-size: 12px;
       float: right;
       width: 60%;
       margin: auto;
    }
    .welcomeDialog img {   
      width: 31%;
      position: relative;
      left: 340px;
      top: -100px;
       
   }
    .welcomeDialog video {
      width: 25%;
      position: relative;
      left: 365px;
      top: 0px;
    }
    .welcomeDialog p {
      /* float: right; */
      position: relative;
      /* float: left; */
      /* top: 116px; */
      margin: auto;
      width: 40%;
      left: 68px;
      top: -77px;
    }
    .welcomeDialog .row {
      width: 55%;
      position: relative;
      top: -50px;
      left: 355px;
    }
    
    .bootstrap-dialog-footer {
        max-width: 924px;
        position: relative;
        top: -17px;
    }
}
@media screen and (max-width: 24em)  {

  canvas {
    width: 478px !important;
    height: 812px !important;
  }
  .meta {
    left: 13em;
  }
  .landing-modal {
    height: 990px;
  }
  .modal-header {
    padding: 12px;
  }
  .bootstrap-dialog .bootstrap-dialog-title {
    font-size: 0.7em;
    position: relative;
    top: 14px;
  }
  .landing-modal .bootstrap-dialog-header {
    padding-right: 18em;
  }
  .description {
    top: 300px;
    float: left;
  }
  .landing-modal .modal-content {
    height: 930px;
  }
  .welcomeDialog img {
    width: 28%;
    left: 394px;
  }
  
  .welcomeDialog img {
    width: 25%;
    left: 411px;
    top: -15px;
    float: left;
  }
  .welcomeDialog video {
    float: left;
    width: 25%;
    left: 113px;
    top: 153px;
  }
  .welcomeDialog p {
    padding-left: 44px;
    font-size: xx-small;
    top: -134px;
  }
  .welcomeDialog .row {
    width: 53.5%;
    position: relative;
    top: -118px;
    left: 356px;
  }
  ul {
    font-size: smaller;
    padding-left: 44px;
    padding-right: 100px;
  }
  .bootstrap-dialog .bootstrap-dialog-message {
    font-size: 10px;
  }
  .bootstrap-dialog-footer {
    float: left;
    top: 560px;
    right: 410px;
  }
  .smaller-modal .bootstrap-dialog-footer {
    right: 380px;
  }
  .landing-modal .bootstrap-dialog-footer {
    top: 420px;
    right: 450px;
  }
  .decisionPoint1 .bootstrap-dialog-footer,  .decisionPoint2 .bootstrap-dialog-footer{
    top: 570px;
    right: 380px;
  }

  .decisionPoint1 .modal-content {
    right: -434px;
    width: 350px;
    height: 220px;
  }
  .decisionPoint2 .modal-content {
    right: 3px;
    width: 307px;
    height: 169px;
  }
  .decisionPoint1 .modal-header, .decisionPoint2 .modal-header {
    font-size: small;
  }
  .btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    position: relative;
    left: 369px;
    top: -583px;
  }
}